# Ignore trained model artifacts
trained_model/

# Python caches
__pycache__/
*.pyc

# Environment files
*.env
.env

# Notebook checkpoints
.ipynb_checkpoints/

# Local configuration files
config/*.local.json

# W&B run artifacts
wandb/
